.env

**/__pycache__
**/.ipynb_checkpoints
**/.~*.py

.docker/v1
.docker/datacube_conf/*
!.docker/datacube_conf/pipelines
!.docker/datacube_conf/data
.docker/datacube_conf/data/**/*
!.docker/datacube_conf/data/.gitkeep

postgresql/
